* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.banner__img {
  height: 100%;
  width: 100%;
  position: relative;
}
.banner {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .logo_img{
    position: absolute;
    z-index: 999;
    background-color: transparent;
    padding-top: 2em;
    margin-left: 10em;

 } */
/* .navbar__tag ul {
    display: flex;
    position: absolute;
    z-index: 999;
    justify-content: center;
    padding-top: 4em;

 }
.navbar__tag{
    justify-content: center;
    align-items: center;
    display: flex;
   
 
} */

.nav_bar_cont ul {
  display: flex;
}
.nav_bar_cont ul li {
  margin-right: 15px;
  padding-left: 30px;
}
.nav_bar_cont {
  cursor: pointer;
  color: #404040;
  margin-left: 15px;
}
.nav__bar__logo__img {
  cursor: pointer;
  /* margin-right: 12em; */
}
.logo_navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 999;
  background-color: white;
  /* width: 90%; */
  max-width: 1440px;
  margin: 0 auto;
  /* margin-top: 2em;  */
  padding: 10px 5em;
  margin-left: 5%;
  /* padding-right: 5em; */
}
.background__img {
  position: relative;
  height: 600px;
  width: 100%;
}
.nav_bar_cont ul li:hover {
  text-decoration: underline 3px black solid;
}
.banner__text_main {
  position: absolute;
  z-index: 999;
  /* margin-top: 160px;
padding-right: 8em; */
  font-size: 30px;
  text-align: center;
  align-items: center;
  height: 100%;
  display: flex;
  max-width: 1440px;
  max-height: 740px;
}
.card__section {
  display: flex;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
  z-index: 999;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.card {
  display: flex;
  /* border: 1px black solid; */
  background-color: #ffff;
  margin-left: 15px;
  /* padding-right: 2em; */
  padding: 1em 3em;
  color: #3a3a3a;
  border-radius: 10px;
}
.card:hover {
  display: flex;
  /* border: 1px black solid; */
  background-color: black;
  margin-left: 15px;
  /* padding-right: 2em; */
  padding: 1em 3em;
  color: white;
  border-radius: 10px;
  transition: 0.6s;
}
.card__left {
  font-size: 80px;
  font-weight: bold;
}
.card__con1 {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 50px;
}
.card__con2 {
  font-size: 18px;
  margin-left: 35px;
}
.card__con3 {
  font-size: 18px;
  margin-left: 15px;
}
.project {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #f9f9f9;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 6em;
}
.project__left {
  width: 50%;
  padding: 6em 3em;
  padding-left: 8em;
}
.project__left__heading {
  font-size: 30px;
}
.span {
  color: #c0bebe;
  letter-spacing: 2px;
  padding-right: 10px;
}
.project__left__para {
  margin-top: 10px;
  font-size: 12px;
}
.project__right {
  width: 40%;
}
.project__img {
  margin-top: 3em;
}
.project__img img {
  width: 100%;
  mix-blend-mode: luminosity;
}
.our__skill {
  width: 100%;
  background-color: #f9f9f9;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 8em;
}
.our__skill_heading {
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.skill__all {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill__img:hover {
  color: white;
}
.skill__img__con {
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.skill__img__con:hover {
  background-color: white;

  color: white;
  border-radius: 10px;
  transition: 0.6s;
}
.global {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 6em;
  background-color: #f9f9f9;
}
.global_back {
  width: 100%;
  height: 700px;
}
.global__heading {
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.global__para {
  text-align: center;
  width: 100%;
  padding: 2em 7em;
}
.global_img {
  width: 30%;
  height: 400px;
}
.globle__scrole {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 7em;
}
.para_heading__global {
  position: absolute;
  top: 0;
  padding: 2em 4em;
}
.award {
  width: 100%;
}
.award__left {
  width: 45%;
  padding: 2em 7em;
}
.award__headng {
  font-size: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 1em;
}
.award {
  display: flex;
  background-color: #f9f9f9;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 8em;
}
.award__img {
  width: 100%;
  height: 450px;
  background-color: #f9f9f9;
}
.award__para{
  font-size: 16px;
  margin-left: 18px;
}
.about_us{
  width: 100%;
  background-color: #f9f9f9;
  padding-bottom: 8em;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
 
}
.about__us_img{
  width: 100%;
  height: 400px;
  
}
.about_heading{
  font-size: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 1em;
}
.about__us__para{
  width: 45%;
  padding: 2em 2em;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.span_two {
  color: #c0bebe;
  letter-spacing: 2px;
  padding-left: 10px;
}

.about__us__right {
  width: 30%;
  margin-top: 4em;

}
.about__us__left{
  width: 45%;
  margin-right: 4em;
}
.about__us__heading {
  font-size: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 30px;
  padding-bottom: .4em;
}
.span__img{
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-items: end;
  justify-content: end;
  
}
.span__img__about{
  margin-top: 10em;
   padding: 0px 2em;
  
}


.about_us_two{
  width: 100%;
  background-color: #f9f9f9;
  padding-bottom: 8em;
  display: flex;
  justify-content: end;
 
}
.about__us_img__two{
 
  height: 400px;
  
}
.about_heading__two{
  font-size: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 1em;
}
.about__us__para__two{
  width: 80%;
  padding: 1em ;
  padding-left: 5em;
  justify-content: center;
  align-items: center;
  
  display: flex;
}
.span_two__two {
  color: #c0bebe;
  letter-spacing: 2px;
  padding-left: 10px;
}

.about__us__right__two {
  width: 50%;
  margin-top: 4em;

}
.about__us__left__two{
  width: 45%;
  margin-right: 4em;
}
.about__us__heading__two {
  font-size: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 30px;
  /* margin-left: 30px; */
  padding-bottom: .4em;
}
.span__img__two{
  height: 150px;
  padding-left: 1em;
  
}
.span__img__about__two{
  margin-top: 10em;
   /* padding: 0px 6em; */
   padding-left: 8em
  
}
