* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.banner__img {
  height: 100%;
  width: 100%;
  position: relative;
  
}
.banner {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
 
}
/* .logo_img{
    position: absolute;
    z-index: 999;
    background-color: transparent;
    padding-top: 2em;
    margin-left: 10em;

 } */
/* .navbar__tag ul {
    display: flex;
    position: absolute;
    z-index: 999;
    justify-content: center;
    padding-top: 4em;

 }
.navbar__tag{
    justify-content: center;
    align-items: center;
    display: flex;
   
 
} */

.nav_bar_cont ul {
  display: flex;
}
.nav_bar_cont ul li {
  margin-right: 15px;
  padding-left: 30px;
}
.nav_bar_cont {
  cursor: pointer;
  color: #404040;
  margin-left: 15px;
}
.nav__bar__logo__img {
  cursor: pointer;
  /* margin-right: 12em; */
}
.logo_navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 999;
  background-color: white;
  /* width: 90%; */
  max-width: 1440px;
  margin: 0 auto;
  /* margin-top: 2em;  */
  padding: 10px 5em;
margin-left: 5%;
  /* padding-right: 5em; */
}
.background__img {
  position: relative;
  height: 600px;
  width: 100%;
}
.nav_bar_cont ul li:hover{

  text-decoration: underline 3px black solid ;
}
.banner__text_main{
  position: absolute;
  z-index: 999;
margin-top: 160px;
padding-right: 8em;
 font-size: 30px;
 
}
.card__section{
  display: flex;
  background-color: #f3f2f2;
  justify-content: center;
  align-items: center;
 
  z-index: 999;
  
  
}
.card{
  display: flex;
  /* border: 1px black solid; */
  background-color:white;
  margin-left: 15px;
  /* padding-right: 2em; */
  padding: 1em 3em;
  color: #3A3A3A;
  border-radius: 10px;
  
}
.card__left{
  font-size: 80px;
  font-weight: bold;
}
.card__con1{
  font-size: 18px;
  margin-top: 10px;
  margin-left: 50px;
 
}
.card__con2{
  font-size: 18px;
  margin-left: 35px;
}
.card__con3{
  font-size: 18px;
  margin-left: 15px;
  
}
.project{
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #f3f2f2;
}
.project__left{
  width: 50%;
  padding: 6em 3em;
  padding-left: 8em;

}
.project__left__heading{
  font-size: 30px;
}
.span{
  color: #c0bebe;
}
.project__left__para{
  margin-top: 10px;
  font-size: 12px;
}
.project__right{
  width: 40%;
  
}
.project__img img{
  width: 10px;
}